.width-full {
    width: 100% !important;
}

.pull-right {
    float: right !important;
}

.menu-link {
    align-items: center !important;
    .fa {
        margin-right: 10px;
    }
}

.form-group label {
    color: #000;
}
